* {
  transition: ease-in-out .3s;
}
html {
  scroll-behavior: smooth;
}
.stickyhdr {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    z-index: 100;
    height: 100px;
    box-shadow: rgb(136, 136, 136) -1px -12px 20px 0px;
}
.stickyhdr > div {
    display: flex;
    width: 1200px;
    margin: auto;
} 
.stickyhdr .anc {
    width: 800px;
    margin: 24px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
    .stickyhdr a {
      display: inline-block;
      color: black;
      text-align: center;
      padding: 14px 30px 14px 0px;
      text-decoration: none;
      font-weight: bold;

    }
    .logo {
  width: 400px;
}
.logo img {
    width: 101px;
    margin: 11px;
}
    body {
      background: url();
      color: #000;
      font-family: "Century Gothic", sans-serif;
      margin: 0;
      padding: 0;
    }
#background-video {
    width: 100vw;
    height: 800px;
    object-fit: cover;
    inset: 0px;
    z-index: -1;
    position: absolute;
    max-width: 100%;
}
div#fst div {
    width: 1200px;
    margin: auto;
    margin-top: 319px;
    color: white;
}
div#fst {
    height: 480px;
}
#1st {
  height 800px;
  margin-top: 30px;
  position: relative;
}
    p {
      margin-bottom: 20px;
      font-size: 18px
    }
    img {
      max-width: 100%;
      height: auto;
    }
    .btn, input[type="submit"] {
    color: white;
    background: rgb(75, 66, 131);
    padding: 15px 30px;
    border-radius: 100px;
    text-decoration: none;
    margin-top: 37px !important;
    display: inline-block;
    font-weight: bold;
    border: 0;
    font-family: 'Century Gothic', sans-serif;
}
    .btn:hover, input[type="submit"]:hover {
opacity: 80%;
}
h1 {
  font-size: 60px;
  color: white
}

.scnd {
  padding: 20px;
}
.innr {
  padding: 20px;
  width: 1200px;
  margin: auto;
}
.scnd h2{
 color: black;
 text-align: center;
}
.srv {
  background: #f1f5f9;
  margin: 10px;
  padding: 20px 50px;
  border-radius: 20px
}

.innr > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.srv h3, .srv p {
  text-align: center;
}
h2 {
  font-size: 40px
}
h3 {
font-size: 25px
}
.btndv {
  text-align: center;
  display: block !important;
}
.trd {
  background-color: #f1f5f9;

}
.trd h2., .trd p {
    color: black;
}
.frm.lft {
    display: flex;
    grid-template-columns: 1fr;
    margin: 20px;
    flex-direction: column;
}
.innr.fr {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.frm.rt {
    grid-template-columns: 1fr;
    padding: 60px;
    background: white;
    border-radius: 20px;
    margin-top: 20px;
}
label {
    width: 100%;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 4px;
}
input[type="submit"] {
    margin: 0px !important;
}
.fl, textarea {
    width: 89%;
    background: rgb(241, 245, 249);
    border: 0px;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: 'century gothic', sans-serif;
    font-size: 16px;
    transition: ease-in-out .3s;
}
.fl:hover, textarea:hover {
  background: #bfc2c5;
}
.frm.lft img {
  width: 400px;
  margin: 20px;
}
.stickyhdr a:hover {
  opacity: 80%
}